body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 span{
    color:orange;
}
h1{
    font-size: 50px;
}
h3 span{
    color: orangered;
}
h2{
    font-size: 40px;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    margin-bottom: 50px;
}
.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
.bottom-border{
   background-image: url("dream-bg.png");
   background-repeat: no-repeat;
   background-position: right;

}
.btn-div{
    margin-top: 40px;

}
.btn{
    margin-top: 50px;
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    
}
.width-e{
    padding-left: 2%;
    margin-left: 5%;
    float: left;
    width: 40%;
}
.box-area{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
   
}
.box-div{ 
    background-image: url("exp-bg.png");
    background-position: left;
    background-repeat: no-repeat;
}
#single-page{
    border-left: 7px solid black;
}
#anoter-page{
    border-left: 7px solid green;
}
ul{
    list-style-type: none;
    background-color:  #f3f3f3;
    padding: 10px 20px;
  
    position: sticky;
    
    
}
ul li{
    
   display: inline;
    padding: 10px 20px;
   
}
li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 10px 15px;

}
li a:hover:not(.active){
    color: red;
    background-color: #ddd;
    border-radius: 5%;
}
li a.active {
    color: white;
    background-color: #04AA6D;
  }
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}